/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

 .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Fredoka', sans-serif;
 }
/* container+heading */
 .container {
    width: 80%;
    max-width: 1100px;
    margin: 0px auto;
    margin-top: 2rem;
 }

 .heading {
    text-align: center;
    margin-bottom: 50px;
 }

 .title-main {
    margin-bottom: 40px;
    color: #e53170;
 }

 .text {
    font-size: 1.5rem;
 }
/* card-container+card */
 .card-container {
    display: inline-block;
    width: calc(100% / 3 - 1rem / 2);
 }

 .card {
    width: 330px;
    background-color: #0f0e17;
    color: white;
    float: left;
    margin-bottom: 50px;
 }

 .img {
    float: left;
    display: inline-block;
    height: 100px;
 }

 .card-text {
    display: inline-block;
    margin-left: 10px;
    text-align: left;
    
 }


 .title {
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    
 }

 .job{
    margin-bottom: 10px;
 }

 .email {
    text-decoration: none;
    color: aqua;
 }